<div class="modal fade bootstrapmodal1" id="printBOL">
    <div class="modal-dialog">
        <div class="modal-content BOL-content" id="printBOL" style="background-image:url(../../Content/Images/Bol.png); z-index:-99999; background-repeat:no-repeat; width: 760px;-webkit-print-color-adjust: exact; ">

            <div class="modal-body" style="height: 478px;">

                <label class="control-label" id="lbl_BolDate" style="position: absolute;top: 110px;/* left: 185px; */font-size: 13px;right: 21px;"></label>

                <label class="control-label" id="lbl_Vehbol" style="position: absolute;top: 139px;left: 110px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_Shipbol" style="position: absolute;top: 139px;left: 367px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_Custbol" style="position: absolute;top: 139px;left: 555px;font-size: 13px;"></label>

                <label class="control-label" id="lbl_DDatebol" style="position: absolute;top: 173px;left: 110px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_EntTmebol" style="position: absolute;top: 173px;left: 327px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_ExtTimebol" style="position: absolute;top: 173px;left: 556px;font-size: 13px;"></label>


                <label class="control-label" id="lbl_OdrCdebol" style="position: absolute;top: 258px;left: 30px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_prodbol" style="position: absolute;top: 258px;left: 140px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_Qtybol" style="position: absolute;top: 258px;left: 265px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_PlnQtybol" style="position: absolute;top: 258px;left: 380px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_ActQtybol" style="position: absolute;top: 258px;left: 497px;font-size: 13px;"></label>

                <label class="control-label" id="lbl_Compidbol1" style="position: absolute;top: 311px;left: 100px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CPlnQtybol1" style="position: absolute;top: 332px;left: 100px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CActQtybol1" style="position: absolute;top: 351px;left: 100px;font-size: 13px;"></label>

                <label class="control-label" id="lbl_Compidbol2" style="position: absolute;top: 312px;left: 272px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CPlnQtybol2" style="position: absolute;top: 332px;left: 272px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CActQtybol2" style="position: absolute;top: 351px;left: 272px;font-size: 13px;"></label>

                <label class="control-label" id="lbl_Compidbol3" style="position: absolute;top: 312px;left: 452px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CPlnQtybol3" style="position: absolute;top: 333px;left: 452px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CActQtybol3" style="position: absolute;top: 351px;left: 453px;font-size: 13px;"></label>

                <label class="control-label" id="lbl_Compidbol4" style="position: absolute;top: 312px;right: 124px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CPlnQtybol4" style="position: absolute;top: 333px;left: 627px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CActQtybol4" style="position: absolute;top: 351px;left: 628px;font-size: 13px;"></label>

                <label class="control-label" id="lbl_Compidbol5" style="position: absolute;top: 380px;left: 102px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CPlnQtybol5" style="position: absolute;top: 401px;left: 102px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CActQtybol5" style="position: absolute;top: 422px;left: 101px;font-size: 13px;"></label>

                <label class="control-label" id="lbl_Compidbol6" style="position: absolute;top: 380px;left: 274px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CPlnQtybol6" style="position: absolute;top: 401px;left: 274px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CActQtybol6" style="position: absolute;top: 422px;left: 274px;font-size: 13px;"></label>

                <label class="control-label" id="lbl_Compidbol7" style="position: absolute;top: 380px;left: 452px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CPlnQtybol7" style="position: absolute;top: 401px;left: 452px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CActQtybol7" style="position: absolute;top: 422px;left: 452px;font-size: 13px;"></label>

                <label class="control-label" id="lbl_Compidbol8" style="position: absolute;top: 380px;left: 627px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CPlnQtybol8" style="position: absolute;top: 401px;left: 627px;font-size: 13px;"></label>
                <label class="control-label" id="lbl_CActQtybol8" style="position: absolute;top: 422px;left: 627px;font-size: 13px;"></label>
                <br /> <br />
                <label class="control-label" id="lbl_signature" style="position: absolute;top: 489px;left: 432px;font-size: 14px;">Signature: _____________________</label>



            </div>

            <div class="modal-footer hidden-print" style="border:none;">

                <button class="btn btn-primary" onclick="window.print();"> Print </button>
                <button class="btn btn-default" data-dismiss="modal">cancel</button>
            </div>
        </div>


    </div>
</div>


